.cir {
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 100%;
    margin-top: 10px;
    display:inline-block;
  }
    .rect1 {
    width: 150px;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    display:inline-block;
  }

  .cir2 {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    display:inline-block;
  }
    
  .rect2 {
    width: 150px;
    height: 100px;
    background-color: grey;
    margin-top: 10px;
    display:inline-block;
    }
  
  .rect3 {
    width: 150px;
    height: 100px;
    background-color: green;
    margin-top: 10px;
    display:inline-block;
  }